.tabs {
    background-color: #2d2d2d;
    width: 100%;
    border-bottom: solid 2px #444;
    height: 3vw;
    max-height: 50px;
    min-height: 40px;
}

.tabButton {
    font-size: max(calc(2vmin), 15px);
    background-color: #2d2d2d;
    color: white;
    width: 7%;
    height: 3vw;
    max-height: 50px;
    min-height: 40px;
    max-width: 120px;
    min-width: 90px;
    border:solid 1px #777;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    float: right;
}

.left {
    float: left;
}